nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #116466;
  color: #FFF;
  padding: 0 2em;
  z-index: 100;
}

#nav-bar .logo{
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 2em;
  margin-left: 10px;
  float: left;
  line-height: 2.5em;
}

#compose-tweet{
  float: right;
  margin: 0.5em;
  height: 80%;
  background-color: #EDDBCD;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
}

#compose-tweet:hover {
  border: 1 px solid #000;
  color: #116466;
  background-color: #fff;
}

#alerts{
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  margin-bottom: 1em;
  padding: 0.5em;
  visibility: hidden;
  border-radius: 3px;
}